body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #062c30;
  font-size: 2rem;
  color: #f5f5f5;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.question {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid rgba(245, 245, 245, 0.3);
  padding-block: 1rem;
}

.question h3 {
  font-size: 1.2rem;
}

@media screen and (max-width: 500px) {
  .question h3 {
    font-size: 0.8rem;
  }
}

.question .answers {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1rem;
}

.question .answer {
  background-color: transparent;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

.question .selected {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  color: #f5f5f5;
  border: 1px solid #e2d784;
  background-color: rgba(245, 245, 245, 0.07);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-animation: bounce 1.5s ease-in-out;
          animation: bounce 1.5s ease-in-out;
}

.question .selected .wrong {
  color: #6b7688;
  background-color: #f8bcbc;
}

.question .selected .correct {
  color: #062c30;
  background-color: #94d7a2;
}

.question .incorrect {
  color: #6b7688;
  background-color: #f8bcbc;
}

.question .correct {
  color: #062c30;
  background-color: #94d7a2;
}

.question .incorrect,
.question .correct {
  border: none;
}

@media screen and (max-width: 600px) {
  .MuiButton-root {
    font-size: 0.4rem;
  }
}

.MuiButtonGroup-root:hover.MuiButton-root:hover {
  border: 1px solid #e2d784 !important;
}

.MuiButton-root:hover {
  border: 1px solid #e2d784 !important;
}

@-webkit-keyframes bounce {}

@keyframes bounce {}.bottom {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.bottom p {
  font-size: 1.2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.bottom .bottomBtn {
  background-color: #e2d784;
  color: #030303;
  border: 1px solid #e2d784;
}

.bottom .bottomBtn:hover {
  color: #e2d784;
}
/*# sourceMappingURL=App.css.map */