$fontBase: 'Karla', sans-serif;
$primary: #062c30;
$secondary: #05595b;
$tertiary: #e2d784;
$white: #f5f5f5;
$black: #030303;
$lightGray: #e4e4e4;
$gray: #6b7688;
$green: #94d7a2;
$danger: #f8bcbc;

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// background-color: #0b2434;
	background-color: $primary;
	// font-family: $fontBase;
	font-size: 2rem;

	color: $white;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

button {
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid transparent;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.app__flex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	p {
		padding-top: 10px;
		font-size: 1rem;
	}
}

.question {
	max-width: 700px;
	min-width: 300px;
	width: 70vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	border-bottom: 1px solid rgba(245, 245, 245, 0.3);
	padding-block: 1rem;

	h3 {
		font-size: 1.2rem;
	}

	@media screen and (max-width: 500px) {
		h3 {
			font-size: 0.8rem;
		}
	}

	.answers {
		align-self: flex-start;

		margin-top: 1rem;
	}
	.answer {
		background-color: transparent;
		color: $white;
		border: 1px solid $white;
	}
	.selected {
		filter: brightness(0.9);
		color: $white;
		border: 1px solid $tertiary;
		background-color: rgba(245, 245, 245, 0.07);
		box-shadow: none;
		animation: bounce 1.5s ease-in-out;
		.wrong {
			color: $gray;
			background-color: $danger;
		}
		.correct {
			color: $primary;
			background-color: $green;
		}
	}
	.incorrect {
		color: $gray;
		background-color: $danger;
	}
	.correct {
		color: $primary;
		background-color: $green;
	}
	.incorrect,
	.correct {
		border: none;
	}
}
.MuiButton-root {
	@media screen and (max-width: 600px) {
		font-size: 0.4rem;
	}
}
.MuiButtonGroup-root:hover.MuiButton-root:hover {
	border: 1px solid $tertiary !important;
}
.MuiButton-root:hover {
	border: 1px solid $tertiary !important;
}
@keyframes bounce {
}
.bottom {
	padding-top: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;

	p {
		color: $white;
		font-size: 1.2rem;
	}
	.bottomBtn {
		background-color: $tertiary;
		color: $black;
		border: 1px solid $tertiary;
		&:hover {
			color: $tertiary;
		}
	}
}
div.dropdown-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 30vw;
	height: 30vh;
	overflow-y: scroll;
	display: none;
	a {
		background-color: $tertiary;
		width: 100%;
		color: $black;
		font-size: 1rem;
		&:hover {
			filter: brightness(0.8);
		}
	}
}
.dropdown-menu.show {
	display: flex;
}
